/* General Styles */

* {
  box-sizing: border-box;
}

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-light: rgb(245, 248, 255);
  --clr-light-gray: rgb(196, 195, 196);
  --clr-blue: rgb(63, 134, 255);
  --clr-light-blue: rgb(171, 202, 255);
}

/* End General Styles */

/* Upload Area */
.upload-area {
  width: 100%;
  max-width: 13rem;
  background-color: var(--clr-white);
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 2px solid var(--clr-light-blue);
  border-radius: 24px;
  padding: 1rem 0.875rem 2rem 0.875rem;
  margin: 0.625rem;
  text-align: center;
}

.upload-area--open {
  /* Slid Down Animation */
  animation: slidDown 500ms ease-in-out;
}

@keyframes slidDown {
  from {
    height: 28.125rem; /* 450px */
  }

  to {
    height: 35rem; /* 560px */
  }
}

/* Header */
.upload-area__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.3125rem;
}

.upload-area__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin-top: 0;
}

.upload-area__tooltip {
  position: relative;
  color: var(--clr-light-blue);
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.upload-area__tooltip:hover {
  color: var(--clr-blue);
}

.upload-area__tooltip-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  min-width: max-content;
  background-color: var(--clr-white);
  color: var(--clr-blue);
  border: 1px solid var(--clr-light-blue);
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: none 300ms ease-in-out;
  transition-property: opacity, visibility;
}

.upload-area__tooltip:hover .upload-area__tooltip-data {
  opacity: 1;
  visibility: visible;
}

/* Drop Zoon */
.upload-area__drop-zoon {
  position: relative;
  height: 3.25rem; /* 180px */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--clr-light-blue);
  border-radius: 15px;
  margin-top: 1.188rem;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.upload-area__drop-zoon:hover {
  border-color: var(--clr-blue);
}

.drop-zoon__icon {
  display: flex;
  font-size: 3.75rem;
  color: var(--clr-blue);
  transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
  font-size: 0.9375rem;
  color: var(--clr-light-gray);
  margin: 0;
  margin-top: 0.625rem;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
  opacity: 0.7;
}

.drop-zoon__loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: var(--clr-light-blue);
  z-index: 10;
}

.drop-zoon__preview-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.3125rem;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__preview-image {
  opacity: 0.8;
}

.drop-zoon__file-input {
  display: none;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--over {
  border-color: var(--clr-blue);
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
  opacity: 0.7;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--Uploaded {
}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
  display: none;
}

/* File Details Area */
.upload-area__file-details {
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  transition: none 500ms ease-in-out;
  transition-property: opacity, visibility;
  transition-delay: 500ms;
}

/* (duploaded-file--open) Modifier Class */
.file-details--open {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.file-details__title {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--clr-light-gray);
}

/* Uploaded File */
.uploaded-file {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
  visibility: hidden;
  opacity: 0;
  transition: none 500ms ease-in-out;
  transition-property: visibility, opacity;
}

/* (duploaded-file--open) Modifier Class */
.uploaded-file--open {
  visibility: visible;
  opacity: 1;
}

.uploaded-file__icon-container {
  position: relative;
  margin-right: 0.3125rem;
}

.uploaded-file__icon {
  font-size: 3.4375rem;
  color: var(--clr-blue);
}

.uploaded-file__icon-text {
  position: absolute;
  top: 1.5625rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--clr-white);
}

.uploaded-file__info {
  position: relative;
  top: -0.3125rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.uploaded-file__info::before,
.uploaded-file__info::after {
  content: "";
  position: absolute;
  bottom: -0.9375rem;
  width: 0;
  height: 0.5rem;
  background-color: #ebf2ff;
  border-radius: 0.625rem;
}

.uploaded-file__info::before {
  width: 100%;
}

.uploaded-file__info::after {
  width: 100%;
  background-color: var(--clr-blue);
}

/* Progress Animation */
.uploaded-file__info--active::after {
  animation: progressMove 800ms ease-in-out;
  animation-delay: 300ms;
}

@keyframes progressMove {
  from {
    width: 0%;
    background-color: transparent;
  }

  to {
    width: 100%;
    background-color: var(--clr-blue);
  }
}

.uploaded-file__name {
  width: 100%;
  max-width: 6.25rem; /* 100px */
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploaded-file__counter {
  font-size: 1rem;
  color: var(--clr-light-gray);
}

.TableCell {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.css-1gu3blh {
  overflow: auto;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
  width: 50px;
  height: 50px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}

.progress-bar {
  position: absolute;
  width: 100%;
}

.red {
  border-color: red;
}

.yellow {
  border-color: yellow;
}

.purple {
  border-color: purple;
}

.blue {
  border-color: blue;
}

.green {
  border-color: green;
}
.css-1q1u3t4-MuiTableRow-root {
  color: inherit;
  display: table-row;
  vertical-align: middle;
  outline: 0;
  z-index: 1 !important;
  position: relative;
}

.css-fv2evr {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  line-height: 1.2;
  border-radius: 15px;
  font-weight: var(--chakra-fontWeights-bold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  font-size: var(--chakra-fontSizes-md);
  height: initial;
  min-width: var(--chakra-sizes-10);
  -webkit-padding-end: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  background: var(--chakra-colors-white);
  // box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.04);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-top: 12px;
  padding-bottom: 12px;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 152px;
  padding: 0.5rem 0px;
  // margin: 0px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.css-fv2evr:active,
.css-fv2evr[data-active] {
  background: inherit;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
  /* border-color: var(--chakra-colors-transparent); */
}
button.btn.btn-secondary {
  padding: 0;
}
button.btn.btn-secondary:focus {
  box-shadow: none;
  background-color: none;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}

.add-doc-button {
  border: 2px solid #b19552 !important;
}

.yelloButton {
  background: #b19552 !important;
  color: #fff !important;
}

.css-1ak1ri9 {
  -webkit-margin-start: 0px !important;
  margin-inline-start: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.css-dwfbw9 {
  -webkit-margin-start: 0px !important;
  margin-inline-start: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.css-dwfbw9 {
  background: var(--chakra-colors-white);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  height: calc(100vh - 32px);
  margin: 0px;
  -webkit-filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  border-radius: 0px 20px 20px 0px !important;
}
.css-1ak1ri9 {
  background: var(--chakra-colors-white);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  height: calc(100vh - 32px);
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
  margin: 0px;
  -webkit-filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  border-radius: 0px 20px 20px 0px !important;
}
.css-1ak1ri9 {
  background: var(--chakra-colors-white);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  height: calc(100vh - 32px);
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
  margin: 0px;
  -webkit-filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 5px 14px rgba(0, 0, 0, 0.05));
  border-radius: 20px;
  overflow: auto;
  height: 100vh !important;
}
.css-otanfb {
  width: 89% !important;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}
.css-s8nip3 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.css-5xmg3k {
  width: 94% !important;
}
.col-md-6 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.scrollable-container {
  overflow-y: auto;
  margin-top: 20px;
  width: 50%;
  display: flex;
}

.loan-type-dropdown {
  // width: 60%;
  // justify-content: end;
  // display: flex;
}
.loan-type-dropdown-main {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  height: 40px;
}
/* Add this CSS to your stylesheet */
.custom-select {
  position: relative;
}

.custom-select select {
  padding-right: 30px; /* Adjust padding to make room for the icon */
}

.custom-select::after {
  content: "\25BC"; /* This is the default dropdown arrow */
  position: absolute;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.dynamicImportantStyle {
  color: white !important;
  background-color: #b19552 !important;
}

.form-select {
  height: 41px !important;
}

// ========================================================== Responsive Code ============================================================

/* media  */

/* 1680 */
@media (max-width: 3000px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
}
@media (max-width: 1700px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
  .css-16dj9gd {
    height: 100vh !important;
    padding-top: 0px;
  }
}

/* 1500 */
@media (max-width: 1680px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
  .css-16dj9gd {
    height: 100vh !important;
    padding-top: 0px;
  }
}

/* 1440 */
@media (max-width: 1449px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
  .css-k008qs {
    display: flex;
    flex-direction: column;
  }
  .second-drop-section {
    justify-content: end;
    // margin-right: 30px;
    margin-top: 6px;
  }
  .css-k008qs {
    gap: 6px !important;
}
}

/* 1280 */
@media (max-width: 1439px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
}

/* 992 */
@media (max-width: 1279px) {
  .bradcrub-navbar {
    margin-left: 30px !important;
  }
  .css-16dj9gd {
    height: 100vh !important;
    padding-top: 0px;
  }
}

/* 768 */
@media (max-width: 991px) {
  .collapse-table {
    flex-direction: column;
  }
  .bradcrub-navbar {
    margin-left: 30px !important;
    // margin-top: -7px !important;
  }
  .css-16dj9gd {
    height: 100vh !important;
    padding-top: 0px;
  }

  .paper {
    width: 100% !important;
  }
  .status {
    width: 150px;
  }
  .linksss {
    margin-bottom: 60px !important;
  }
  .pagination-main {
    flex-direction: column !important;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .add-main {
    flex-direction: column;
  }
  .inutss {
    width: 100% !important;
  }
  // .second-drop-section{
  //   justify-content: end;
  //   margin-right: 15px;
  // }
}

/* 576 */
@media (max-width: 767px) {
  .navbar-responsive {
    display: flex !important;
  }
  .pagination-main {
    flex-direction: column !important;
  }
  .image-responsive {
    width: 100% !important;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }

  .bradcrub-navbar {
    margin-left: 1px !important;
    margin-top: 15px !important;
  }
  .collapse-table {
    flex-direction: column;
  }
  .paper {
    width: 100% !important;
  }
  .status {
    width: 150px;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .mainnnn {
    flex-direction: column !important;
  }
  .drop-arrow {
    flex-direction: column;
  }
  .loan-type-dropdown {
    width: 100%;
  }
}

/* 525 */
@media (max-width: 575px) {
  .cardss {
    padding: 0 !important;
  }
  .back-responsive {
    display: flex !important;
    margin-bottom: 1px;
  }

  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .pagination-main {
    flex-direction: column !important;
  }
  .back-responsive b {
    font-size: 16px;
  }
  .back-responsive .icon-button {
    width: 30px;
  }
  .bradcrub-navbar {
    margin-left: 1px !important;
    margin-top: 15px !important;
  }
  .content {
    flex-direction: column;
  }
  .content label {
    font-size: 15px;
  }
  .content b {
    font-size: 15px;
  }
  .card-bodyy {
    flex: 1 1 auto;
    padding: 1rem 0.1rem;
  }
  .image-responsive {
    flex-direction: column !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .mainnnn {
    flex-direction: column !important;
  }
}

/* 480 */
@media (max-width: 524px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
    margin-top: 15px !important;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .mainnnn {
    flex-direction: column !important;
  }
  .modal-reject {
    flex-direction: column !important;
    align-items: start;
    margin-bottom: 10px;
  }
  .modal-reject button {
    margin-bottom: 10px;
    margin-left: 0 !important;
  }
  .page-main {
    width: 100% !important;
  }
  .drop-arrow {
    display: flex !important;
  }
  .pagination-main {
    display: flex !important;
  }
  .first-drop-section {
    flex-direction: column;
  }
  .second-drop-section {
    flex-direction: column;
    margin-left: 0 !important;
  }
  .loan-type-dropdown {
    // width: 55%;
    margin-bottom: 10px;
  }
  .css-s0weq {
    width: 200px !important;
  }
  .css-s0weq {
    width: 100% !important;
  }
}

/* 425 */
@media (max-width: 479px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
    margin-top: 15px !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .theadd {
    display: flex;
    flex-direction: row;
  }
  .buttonss {
    width: 50% !important;
    margin-top: 10px;
    padding: 10px !important;
  }
  .mainnnn {
    flex-direction: column !important;
  }
}

/* 375 */
@media (max-width: 424px) {
  .mainnnn {
    flex-direction: column !important;
  }
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .buttonss {
    width: 50% !important;
    margin-top: 10px;
    padding: 10px !important;
  }
  .card-main {
    padding: 0;
  }
  .mainnnn {
    flex-direction: column !important;
  }
  .progressbar {
    width: 500px;
  }
}

/* 320 */
@media (max-width: 374px) {
  .bradcrub-navbar {
    margin-left: 1px !important;
    margin-top: 15px !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .buttonss {
    width: 50% !important;
    margin-top: 10px;
    padding: 10px !important;
  }
  .card-main {
    padding: 0 !important;
  }
  .mainnnn {
    flex-direction: column !important;
  }
  .progressbar {
    width: 500px;
  }
  .progressbar li {
    font-size: 11px !important;
  }
  .drop {
    width: 60% !important;
  }
  .css-zj2dqk {
    right: 6.5rem !important;
  }
}

/* 280 */
@media (max-width: 319px) {
  .cardss {
    padding: 0 !important;
  }
  .back-responsive {
    display: flex !important;
    margin-bottom: 1px;
  }
  .add-sec {
    flex-direction: column;
    // width: 100% !important;
  }
  .inutss {
    width: 100% !important;
  }
  .bradcrub-navbar {
    // margin-left: 30px !important;
    margin-top: 7px !important;
  }
  .css-1ece9uh {
    margin-top: -9px;
  }
  .back-responsive b {
    font-size: 16px;
  }
  .back-responsive .icon-button {
    width: 30px;
  }
  .content {
    flex-direction: column;
  }
  .content label {
    font-size: 15px;
  }
  .content b {
    font-size: 15px;
  }
  .card-bodyy {
    flex: 1 1 auto;
    padding: 1rem 0.1rem;
  }
  .image-responsive {
    flex-direction: column !important;
  }
  .thead {
    flex-direction: column;
    text-align: left;
  }
  .theaddd {
    flex-direction: column;
    text-align: left;
  }
  .thead input {
    width: 181px;
    margin-bottom: 15px;
  }
  .ttext {
    font-size: 18px !important;
    margin-bottom: 15px;
  }
  .remove-btn {
    flex-direction: column;
  }
  .remove-btn button {
    width: 50%;
    margin-top: 10px;
  }
  .ttextt {
    width: 100px !important;
  }
  .textt {
    font-size: 17px !important;
  }
  .mainnnn {
    flex-direction: column !important;
  }
  .bradcrub-navbar {
    margin-left: 1px !important;
  }
  .buttonss {
    width: 60% !important;
    margin-top: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .details-image {
    width: 100% !important;
    height: 100%;
  }
  .progressbar {
    width: 500px;
  }
  .progressbar li {
    font-size: 11px !important;
  }
}
// ========================================================== Responsive Code ============================================================